 .botao{
    border-radius: 1.5em;
    margin: 0 auto;
    flex-grow: 1;
    display: block;
    margin-top: 8em;
    font-size: medium;    
    border: 0.1em solid #0a66d6;
    box-sizing: border-box;
       
    justify-content: center;
    width: 17rem;
    height: 7rem;    
}

#inJogo{
    background: #0A3871;
    color: white;
    order: 0;
    
    right: 30%;
    left: 0%;
}

#novPalavra{
    background: #D8DFE8;
    color: #0A3871;
    order: 1;
    right: 0%;
    left: 30%;
}

.botoes{
    width: 16rem;
    height: 4.18rem;
     
    align-items: flex-start;
    display:inline;
    gap: 8px;
    margin-top: 0%;
    margin-right: 5%;    
}

.centralizar{
    text-align-last: center;    
}

#alura{
    position: absolute;
    top: 3%;
    bottom: 0%;
}

.invisivel{
    display: none;
}

.centrTudo{
    text-align: center;
    margin-top: 15%;
}

.nova{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    color: #0A3871;
    width: 413px;
    height: 48px;
    font-weight: 400;
    line-height: 150%;
}

.nova:focus{
    outline-offset: -35px;
}

#mcarac{
    width: 150px;
    height: 18px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    margin-top: 20%;
    margin-left: 21%;
    margin-bottom: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#rodape{
    clear: both;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 3%;
}

.textmobile{
    position: absolute;
    display:inline;
    top: 30%;
    left: 15%;
    border-color: transparent;
    color: red;    
}

.textmobile:focus{
    outline-offset: -13px;
}


#escolha{
    position: absolute;
    top: 3%;
    left: 10%;
    
}

legend{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #0A3871;
}

select{
    display: inline-block;
    border: transparent;
    color: #0A3871;
    font-size: 1em;
}

@media screen and (max-width: 480px){
    .nova{
        font-size: 20px;
        top: 20%;
        width: 300px;
    }  
    .botoes{
        display: block;
        margin: 0 auto;
        margin-bottom: 3%;
        
    }

    #escolha{
        top: 40%;
    }

    legend{
        font-size: 1em;
    }

    #rodape{
        padding-top: 5%;
    }
}